# Project exclude paths
/common/group-common/target/
/domain/auth/user-auth-api/target/
/domain/auth/user-auth-service/target/
/domain/fun/account/fun-box-account-api/target/
/domain/fun/account/fun-box-account-mapper/target/
/domain/fun/account/fun-box-account-pojo/target/
/domain/fun/account/fun-box-account-service/target/
/domain/fun/game/fun-box-game-api/target/
/domain/fun/game/fun-box-game-mapper/target/
/domain/fun/game/fun-box-game-pojo/target/
/domain/fun/game/fun-box-game-service/target/
/domain/fun/lottery/fun-box-lottery-api/target/
/domain/fun/lottery/fun-box-lottery-mapper/target/
/domain/fun/lottery/fun-box-lottery-pojo/target/
/domain/fun/lottery/fun-box-lottery-service/target/
/domain/fun/order/fun-box-order-api/target/
/domain/fun/order/fun-box-order-mapper/target/
/domain/fun/order/fun-box-order-pojo/target/
/domain/fun/order/fun-box-order-service/target/
/domain/fun/search/fun-box-search-api/target/
/domain/fun/search/fun-box-search-mapper/target/
/domain/fun/search/fun-box-search-pojo/target/
/domain/fun/search/fun-box-search-service/target/
/domain/fun/user/fun-box-user-api/target/
/domain/fun/user/fun-box-user-mapper/target/
/domain/fun/user/fun-box-user-pojo/target/
/domain/fun/user/fun-box-user-service/target/
/domain/luck/account/luck-shop-account-api/target/
/domain/luck/account/luck-shop-account-mapper/target/
/domain/luck/account/luck-shop-account-pojo/target/
/domain/luck/account/luck-shop-account-service/target/
/domain/luck/center/luck-shop-center-stage-api/target/
/domain/luck/center/luck-shop-center-stage-mapper/target/
/domain/luck/center/luck-shop-center-stage-pojo/target/
/domain/luck/center/luck-shop-center-stage-service/target/
/domain/luck/order/luck-shop-order-api/target/
/domain/luck/order/luck-shop-order-mapper/target/
/domain/luck/order/luck-shop-order-pojo/target/
/domain/luck/order/luck-shop-order-service/target/
/domain/luck/user/luck-shop-user-api/target/
/domain/luck/user/luck-shop-user-mapper/target/
/domain/luck/user/luck-shop-user-pojo/target/
/domain/luck/user/luck-shop-user-service/target/
/domain/manager/manager-api/target/
/domain/manager/manager-mapper/target/
/domain/manager/manager-pojo/target/
/domain/manager/manager-service/target/
/domain/pay/payment-api/target/
/domain/pay/payment-pojo/target/
/domain/pay/payment-service/target/
/platform/eureka-server/target/
/platform/gateway-service/target/
/task/group-task/target/